body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 0;
  padding-top: 50px;
  font-family: 'Sacramento', cursive;
  font-size: 5.6rem;
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}

h3 {
  font-family: 'montserrat', sans-serif;
  color: #66BFBF;
  font-weight: bold;
}

h4 {
  font-family: 'montserrat', sans-serif;
}

div {
  background-color: #CEE5D0;
}

.top-container {
  padding-top: 50px;
}

.bottom-container {
  padding-top: 30px;
}

.bottom-cloud {
  position: absolute;
  right: 950px;
  top: 150px;
}

.top-cloud {
  position: absolute;
  left: 950px;
  top: 10px;
}

.passport {
margin-top: 50px;
  width: 12%;
}

.web-image {
  width: 35%;
}

.pizza-image {
  width: 35%;
}

.size1 {
  font-size: 2.5rem;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  line-height: 2;
}

.skills {
  text-align: center;
}
.btn {
  background: #059bff;
  background-image: -webkit-linear-gradient(top, #059bff, #2990ff);
  background-image: -moz-linear-gradient(top, #059bff, #2990ff);
  background-image: -ms-linear-gradient(top, #059bff, #2990ff);
  background-image: -o-linear-gradient(top, #059bff, #2990ff);
  background-image: linear-gradient(to bottom, #059bff, #2990ff);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin: 25px auto;
  text-decoration: none;
}

.btn:hover {
  background: #46dcf0;
  background-image: -webkit-linear-gradient(top, #46dcf0, #3ebede);
  background-image: -moz-linear-gradient(top, #46dcf0, #3ebede);
  background-image: -ms-linear-gradient(top, #46dcf0, #3ebede);
  background-image: -o-linear-gradient(top, #46dcf0, #3ebede);
  background-image: linear-gradient(to bottom, #46dcf0, #3ebede);
  text-decoration: none;
}

.contact-me {
  padding-bottom: 30px;
  margin-bottom: 2px;
}
.footer-link{
  margin-right: 20px;
    margin-left:  20px;
    text-decoration: none;
    color: #66BFBF;
}
.advice{
  margin-bottom: 40px;
}
